%nav.navbar.navbar-default
  .container
    .navbar-header
      %a.navbar-brand{href: '/'}
        %b= TITLE
    %ul.nav.navbar-nav.navbar-right
      - if signed_in?
        %li= link_to 'Компанії', companies_path
        %li.dropdown
          %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            = current_user.full_name
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'Профіль', user_path(current_user)
            %li= link_to t('layouts.application.sign_out'), sign_out_path, method: :delete
      - else
        %li= link_to t('layouts.application.sign_in'), sign_in_path
        %li= link_to t('sessions.form.sign_up'), sign_up_path
